<!DOCTYPE html>
<html>

<head>
  <title>Simple Map</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/map.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

<body>
  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="card mb-4 graph">
      <canvas id="myPieChart"></canvas>
    </div>
    <div class="card mb-4 graph" style="padding-top: 40px;">
      <canvas id="myBarChart"></canvas>
    </div>
    <!-- Bar Chart -->
    <!--div class="card shadow mb-4 graph">
          <canvas id="barchart1"></canvas>
    </div-->
  </div>
  </div>
  <div id="map">
  </div>
    <ul>
  {{#each Location}}
    <li>{{this}}</li>
  {{/each}}
</ul>
  <div id="right-bar"><button class="openbtn" onclick="openNav()">&#9776;</button>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
  <script src="/js/map.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAStlYQh66ZsHEE9OUqT1KXo9VC8t3TEyM&callback=initMap" async defer></script>
  <script>
    openNav();
  </script>
</body>

</html>
