* {
}


.map-container {
  position: relative;
  display: block;
  width: calc(100vw - 0.5vw);
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#map {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border: 1vw solid #E17055;
}

#paint {
  color: white;
  text-align: center;
}

.sidebar {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #EA9A86;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #E17055;
  color: white;
  padding: 10px 15px;
  height: 50px;
  border: none;
  opacity: 1;
  transition: .3s opacity ease;
}

.closebtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #E17055;
  color: white;
  padding: 10px 15px;
  height: 50px;
  border: none;
  opacity: 1;
  transition: .3s opacity ease;
}

#left-bar {
  position: absolute;
  transition: margin-left .5s;
  padding: 20px;
  height: 100px;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  z-index: 1;
  display: flex;
  aligh-items: center;
  justify-content: center;
  flex-direction: column;
}

#left-bar:hover .openbtn {
  opacity: 1;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

div.graph {
  height: 40vh;
}
