@keyframes buttonRainbow {
  0%   {background-color:#e17055; color:black;}
  20%  {background-color:#fdcb6e; color:white;}
  40%  {background-color:#d63031; color:black;}
  60%  {background-color:#2ecc71; color:white;}
  80%  {background-color:#0984e3; color:black;}
  100% {background-color:#e17055; color:white;}
}



.block {
  font-family:"Lobster";
  margin-top: 12px;
  display: block;
  width: 50%;
  border: none;
  background-color:#e17055;
  padding: 10px 10px;
  font-size: 64px;
  cursor: pointer;
  text-align: center;
  border-radius: 12px;
  margin: 45px auto;
}

.block:hover {
  animation: buttonRainbow 3s infinite;
}

@media only screen and (max-device-width: 666px){
	.block{
		width: 100%;
	}
	.cid-ricCsSnNom{
		padding-top: 25px;
	}
}

#pac-input {
  width: 100%;
  padding-left: 8px;
  height: 50px;
  background-color: #F8F8F8;
}
